# Server Port
PORT=5000

# Node Environment
NODE_ENV=development

# MongoDB Connection String
MONGODB_URI=<MY_MONGODB_URI>

# JWT Secret Key
JWT_SECRET=<MY_JWT_SECRET>

# Frontend Client URL (for CORS)
CLIENT_URL=http://localhost:5173
